/client/node_modules/
/client/.env
/client/.DS_Store
/client/settings.json 
/client/.eslintcache

/server/node_modules/
/server/.env
/server/.DS_Store
/server/settings.json


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
